body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    width: 100%;
}

#content {
    text-align: center;
    padding: 5vh 0;
    display: grid;
    grid-template-columns: 100fr 161fr;
    grid-template-rows: repeat(8, 1fr);
}

h1 {
    text-align: right;
    white-space: nowrap;
}

h1.lightgrey {
    text-align: left;
}

h2 {
    text-align: left;
    margin: 0.5em 0 0.5em 1ch;
    max-width: 50vh;
    max-width: 50vw;
}

h2.lightgrey {
    text-align: right;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.lightgrey {
    color: lightgrey;
}